@model _23DH111923_MyStore.Models.ViewModel.HomeProductVM
@using PagedList.Mvc;

<link rel="stylesheet" type="text/css" href="~/Content/myStyle/CustomerHome.css" />
<div class="bg">
@if (Model.NewProducts != null && Model.NewProducts.Any())
{
                <section class="container-fluid listProduct">
                    <h2 style="color: red" class="boldtext">Sản phẩm mới</h2>
                    <div class="list-container">
                        @foreach (var product in Model.NewProducts)
                        {
                            <div class="lproduct-item" style="background-color: whitesmoke">
                                <div>
                                    <a href="@Url.Action("ProductDetails", "Home", new { id = product.ProductID })">
                                        <img src="@Html.DisplayFor(modelItem => product.ProductImage)"/>
                                    </a>
                                </div>
                                <div>
                                    <p class="prodPrice">@product.ProductPrice</p>
                                    <p class="prodName">@product.ProductName</p>
                                    <p class="prodSale">
                                        Đã bán:&nbsp; @product.OrderDetail.Count
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </section>

}
else
{
<p style="color: red"> Không tìm được sản phẩm nào phù hợp </p>
}
    </div>
@*<div class="pagination-container">
    @Html.PagedListPager(Model.NewProducts, Page => Url.Action("Index", new { Page, searchTerm = Model.SearchTerm }))
</div>*@





@*<section class="productList">
        <h2>Danh sách sản phẩm</h2>
        <ul class="list-container">
            <li class="product-item">
                <img src="~/Content/Images/Ipad.png" />
                <h3>Apple iPad Air 6 M2 11-Inch Wi-Fi</h3>
                <p class="prodDescription">Cao cấp, tinh tế, chất lượng</p>
                <p class="prodPrice">16290000đ</p>
            </li>
            <li>
                <img src="~/Content/Images/Ipad2.png" />
                <h3>Galaxy Tab A9 Wifi</h3>
                <p class="prodDescription">Mỏng nhẹ, chất lượng, giá cả cho sinh viên</p>
                <p class="prodPrice">3500000đ</p>
            </li>
            <li>
                <img src="~/Content/Images/Ipad3.png" />
                <h3>Ipad Apple iPad 10.9-inch (10th Gen) Wi-Fi, 2022</h3>
                <p class="prodDescription">Đẳng cấp, thời thượng, thanh lịch</p>
                <p class="prodPrice">9490000đ</p>
            </li>
        </ul>
    </section>*@
