
@model _23DH111923_MyStore.Models.ViewModel.ProductDetailsVM
@using PagedList.Mvc

<link rel="stylesheet" type="text/css" href="~/Content/myStyle/CustomerHome.css" />

@if (Model.TopProducts != null && Model.TopProducts.Any())
{
    <section class="container-fluid listProduct">
        <h2>Sản phẩm bán chạy</h2>
        <ul class="list-container">
            @foreach (var product in Model.TopProducts)
            {
                <li class="product-item">
                    <a href="@Url.Action("ProductDetails", "Home", new { id = product.ProductID })">
                        <img src="@Html.DisplayFor(modelItem => product.ProductImage)" />
                    </a>
                    <h3>@Html.DisplayFor(modelItem => product.ProductName)</h3>
                    <p class="pro-sale">@Html.DisplayFor(modelItem => product.ProductPrice)</p>
                </li>
            }
        </ul>
    </section>
    <div class="pagination-container">
        @Html.PagedListPager(Model.TopProducts, page => Url.Action("ProductDetails", new { id = Model.product.ProductID, quantity = Model.quantity, page }))
    </div>
}